<h1>Create your Cocktail</h1>
<% unless Cocktail.new %>
<p><%= show_error %></p>
<% end %>

<form action="/cocktails" method="post">
    <label>Title:</label>
    <input type="text" name="name">
    <label>Ingredients:</label>
    <input type="text" name="ingredient1">
    <label>Recipe:</label>
    <input type="text" name="instruction">
    <label>Image URL:</label>
    <input type="text" name="image">
    <button type="submit"> Add Beverage</button>
</form>