

.instructions {
  font-size: 1rem;
}
.cocktail-wrapper {
  height: 100vh;
  overflow: scroll;
}
.cocktail-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: whitesmoke;
  border: 2px solid white;
  
} 


.sidebar {
  height: 100vh;
  /* min-height: 500px; */
  width: 60px;
  position: absolute;
  top: 7.5%;
  left: 0;
  background-color: #16191e;
  overflow: hidden;
  transition: width 0.2s;
}

.sidebar:hover {
  width: 160px;
  overflow: visibile;
}

.side {
  height: 60vh;
  min-height: 300px;
}

.side-group {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.side-item a {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  padding: 10px 0;
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
}

.side-item a:hover {
  background-image: linear-gradient(
  to right,
  red 7px,
  rgba(255,255,255, 0.1) 7px);
  color: #fff;
}

i.fas {
  font-size: 20px;
  text-align: right;
  font-style: normal;
}

.side-item p {
  width: 75px;
  font-size: 16px;
  text-align: left;
  letter-spacing: 0.3px;
}