<h1 id="title1" text-align: center;> Wine Down</h1>

<h2>Join to view drink recipes or add your own! </h2> 

<h5>Please drink responibly </h5>

<p><a href="/signup">Sign Up</a></p>        <p><a href="/login">Login</a></p>

